<template>
  <div id="app">
    <header>
      <Navbar />
    </header>
    <main class="container mt-5">
      <router-view />
    </main>
    <footer class="footer">
      <div class="container">
        <span class="text-muted">Made with ❤️ by David G. Ortiz | v{{ appVersion }} | {{ currentYear }}</span>
      </div>
    </footer>
    <ErrorToast v-if="globalError" :error="globalError" />
  </div>
</template>

<script>
import Navbar from "@/components/common/Navbar";
import ErrorToast from "@/components/common/ErrorToast";
import { mapGetters } from 'vuex';

export default {
  name: "App",
  data() {
    return {
      appVersion: process.env.PROJECT_VERSION,
      currentYear: new Date().getFullYear(),
    }
  },
  computed: {
    ...mapGetters(["globalError"])
  },
  components: { Navbar, ErrorToast }
};
</script>

<style scoped>

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
</style>